<div class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span>返回</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="subnavbar subnavbar-bottom">
            <div class="subnavbar-inner">
                <div class="segmented segmented-raised">
                    <a href="#Monday" class="button tab-link tab-link-active">周一</a>
                    <a href="#Tuesday" class="button tab-link">周二</a>
                    <a href="#Wednesday" class="button tab-link">周三</a>
                    <a href="#Thursday" class="button tab-link">周四</a>
                    <a href="#Friday" class="button tab-link">周五</a>
                </div>
            </div>
        </div>
        <div class="tabs">
            <div class="tab tab-active" id="Monday">
                <div class="block">
                    <div class="list media-list">
                        <ul>
                            <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">数学课</div>
                                            <div class="item-center">A1303</div>
                                            <div class="item-right">8：00</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="block">
                                        <p>课程：数学课</p>
                                        <p>教师：刘孜文</p>
                                        <p>上课地点：A1303</p>
                                        <p>上课时间：8：00-10：00</p>
                                        <p>上课周数：16周</p>
                                        <p>当前周数：第3周</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">数学课</div>
                                            <div class="item-center">A1303</div>
                                            <div class="item-right">8：00</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="block">
                                        <p>课程：数学课</p>
                                        <p>教师：刘孜文</p>
                                        <p>上课地点：A1303</p>
                                        <p>上课时间：8：00-10：00</p>
                                        <p>上课周数：16周</p>
                                        <p>当前周数：第3周</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">数学课</div>
                                            <div class="item-center">A1303</div>
                                            <div class="item-right">8：00</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="block">
                                        <p>课程：数学课</p>
                                        <p>教师：刘孜文</p>
                                        <p>上课地点：A1303</p>
                                        <p>上课时间：8：00-10：00</p>
                                        <p>上课周数：16周</p>
                                        <p>当前周数：第3周</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab" id="Tuesday">
                <div class="block">
                    <div class="list media-list">
                        <ul>
                            <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">英语课</div>
                                            <div class="item-center">A1203</div>
                                            <div class="item-right">8：00</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="block">
                                        <p>课程：英语课</p>
                                        <p>教师：刘孜文</p>
                                        <p>上课地点：A1203</p>
                                        <p>上课时间：8：00-10：00</p>
                                        <p>上课周数：16周</p>
                                        <p>当前周数：第3周</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab" id="Wednesday">
                <div class="block">
                    <div class="list media-list">
                        <ul>
                            <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">化学课</div>
                                            <div class="item-center">A1203</div>
                                            <div class="item-right">8：00</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="block">
                                        <p>课程：化学课</p>
                                        <p>教师：刘孜文</p>
                                        <p>上课地点：A1203</p>
                                        <p>上课时间：8：00-10：00</p>
                                        <p>上课周数：16周</p>
                                        <p>当前周数：第3周</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab" id="Thursday">
                <div class="block">
                    <div class="list media-list">
                        <ul>
                            <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">物理课</div>
                                            <div class="item-center">A1203</div>
                                            <div class="item-right">8：00</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="block">
                                        <p>课程：物理课</p>
                                        <p>教师：刘孜文</p>
                                        <p>上课地点：A1203</p>
                                        <p>上课时间：8：00-10：00</p>
                                        <p>上课周数：16周</p>
                                        <p>当前周数：第3周</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab" id="Friday">
                <div class="block">
                    <div class="list media-list">
                        <ul>
                            <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">生物课</div>
                                            <div class="item-center">A1203</div>
                                            <div class="item-right">8：00</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="block">
                                        <p>课程：生物课</p>
                                        <p>教师：刘孜文</p>
                                        <p>上课地点：A1203</p>
                                        <p>上课时间：8：00-10：00</p>
                                        <p>上课周数：16周</p>
                                        <p>当前周数：第3周</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>