<div class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">课程信息：</div>
        <div class="list media-list">
            <ul>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">课程：</div>
                            <div class="item-after">数学课</div>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">讲师：</div>
                            <div class="item-after">刘孜文</div>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">上课地点：</div>
                            <div class="item-after">A1303</div>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">上课时间：</div>
                            <div class="item-after">01/02 10:00</div>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">上课周数：</div>
                            <div class="item-after">16周</div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">当前周数：</div>
                                <div class="item-after">第3周</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block">
            <p class="row">
                <button id="change_psd" class="col button button-big button-fill">签到
                </button>
            </p>
        </div>
    </div>
</div>