<div class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="list media-list">
            <ul>
                <li>
                    <a class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row" id="my_head_row">
                                <div class="item-title" id="my_head">头像</div>
                                <div class="item-media"><img
                                        src="/student_manager/static/app/easy_student/img/zhangsan.jpeg" width="64px"/>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item-link item-content" id="name">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">名字</div>
                                <div class="item-after">凌嘉文</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item-link item-content male_click" id="gender">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">性别</div>
                                <div class="item-after">男</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item-link item-content" id="region">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">地区</div>
                                <div class="item-after">广东梅州</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="list media-list">
            <ul>
                <li>
                    <a class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">学校：</div>
                                <div class="item-after">华南理工大学</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">年级：</div>
                                <div class="item-after">2014</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="list media-list">
            <ul>
                <li>
                    <a class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">个性签名</div>
                            </div>
                            <div class="item-text">
                                毕业那天，我们关上教室门窗，痛哭这三年为什么这么快。
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>