<div class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span>返回</span>
                </a>
            </div>
            <div class="right">
                <a href="#" class="link back">
                    <span>完成</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">选择入学年份：</div>
        <div class="list no-hairlines-md">
            <ul>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="text" placeholder="点击选择" readonly="readonly"
                                       id="picker-grade"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>